.error {
    color: #a61a2e;
    font-size: 12px;
    margin-top: 2px;
}

.textInput {
    // position: absolute;
    // width: 336px;
    height: 48px;
    // left: 32px;
    // top: 157px;

    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px;
    margin-top: 5px;

    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    width: 100%;
}

.label {
    // position: absolute;
    height: 22px;
    // left: 32px;
    // top: 127px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;

    color: #333333;
    margin-top: 12px;
}

.showButton {
    background-color: transparent;
    border: none;
    outline: none;
    color: #333333;
    text-decoration: underline;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    &:hover {
        cursor: pointer
    }
}

.loginButton {
    background-color: #333333;
    border-radius: 56px;
    height: 56px;
    border: none;
    outline: none;

    color: white;
    font-family: 'Open Sans';
    font-style: 'normal';
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    width: 100%;
    transition: 0.2s;

    &:hover {
        background-color: #3f3f3f;
        cursor: pointer;
    }
}

.continueButton {
    background-color: white;
    border: 1px solid #D8D8D8;
    border-radius: 52px;
    height: 56px;

    box-sizing: border-box;

    color: black;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    width: 100%;
    transition: 0.2s;

    &:hover {
        background-color: #F3F3F3;
        cursor: pointer;
    }
}

.lineBreak {
    width: 120px;
    height: 0px;
    border: 1px solid #F1F2F3;
}

.textBreak {
    // position: absolute;
    margin:0 auto;
    width: 16px;
    // height: 17px;
    // left: 192px;
    // top: 426px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;

    align-items: center;
    text-align: center;

    color: #98989E;
}
