.header {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    border-bottom: 1px solid #D8D8D8;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    height: 28px;
    margin: 16px 0px 15px;

    &:hover {
        cursor: pointer;
    }
}

.header-right {
    margin-left: auto;
    flex-shrink: 0;
    display:flex;
    align-items: center;
}

.header-center {
    flex-grow: 0.5;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    background-color: transparent;
    border-radius: 41px;
    border: none;
    outline: none;
    width: 80px;
    height: 42px;

    margin-right: 5px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #333333;

    &:hover {
        cursor: pointer;
    }
}

.sell-button {
    background-color: #E24E4D;
    border-radius: 41px;
    border: none;
    outline: none;
    width: 142px;
    height: 42px;

    margin-right: 20px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: white;

    &:hover {
        cursor: pointer;
    }
}

.cart {
    // float: right;
    height: 25px;

    &:hover {
        cursor: pointer;
    }
}

.icon {
    &:hover {
        cursor: pointer;
    }
}

.search-bar {
    background-color: white;
    border: 1px solid #D8D8D8;
    outline: none;
    box-sizing: border-box;
    border-radius: 42px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #65676B;

    margin: 9px 5px 0 16px;
    padding: 9px 18px;
    height: 42px;
    width: 200px;

    flex-grow: 0.1;

    &:focus {
        border: 1px solid #AAAAAA;
    }
}

.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile-picture {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    clip-path: circle(16px at center);

    &:hover{
        cursor: pointer;
    }
}

.profile-dropdown{
    &:after{
        display: none !important;
    }
}

@media all and (max-width: 900px){
    .search-bar {
        width: auto;
        flex-grow: 1;
        margin: 0 0 13px 0;
        order: 2;
    }
}
