.nav-header,.nav-subheader {
    top: 0;
    display: flex;
    margin: 20px 0;
    padding-left: 40px;
    align-items: center;
    height: 5vh
}

.nav-subheader {
    margin-bottom: 25px;
    border-bottom: solid 3px black;
    align-items: center;
    position: relative;
}

.nav-logo {
    font-size: 30px;
    margin-right: 30px;
    color: #6b2dee;
}

.nav-link:hover {
    color: #6b2dee;
}

.nav-link {
    margin-right: 10px;
}

.nav-section:hover {
    color: #6b2dee;
    padding-bottom: 2px;
}

.nav-section {
    margin-right: 30px;
    padding-bottom: 3px;
}

.spacer {
    flex-grow: 1;
}

.search {
    border-radius: 20px;
    color: #bbb;
    padding: 15px 10px;
    margin-right: 20px;
    width: 100%;
    flex-grow: 1;
    font-size: 16px;
    border: 2px solid black;
}

.grid {
    width: 100vw;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    min-height: 50vh;

    h5 {
        text-decoration: none;
        margin: 0;
        font-weight: normal;
        font-size: 16px;
        color: #999;
        margin-bottom: 16px;
    }

    & > * {
        display: flex;
        padding: 50px 0;
        width: 100%;
        magin: auto 0 ;
        flex-direction: column;
        justify-content: space-between;
    }


    .button-col {
        flex: 1 1 auto;
        * {
            padding: 10px;
            // &:hover {
            // }
        }
    }

    .button-item:hover {
        background: #ddd;
    }

    .grid-side-bar {
        grid-column: span 2;
        border-right: 1px solid #bbb;
    }

    .grid-main {
        grid-column: span 10;
    }
}


.nav-section-menu {
    position: absolute;
    height: 80vh;
    left: 0;
    max-width: 30vw;
    margin-top: 16px;
    background: white;
    z-index: 5;
}

.nav-button-black:hover,.nav-button-white:hover {
    color: white;
    background: #6b2dee;
}

.nav-button-white, .nav-button-black {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    margin-right: 10px;
}

.nav-button-black {
    background: black;
    color: white;
}

