#cancelIcon {
    border-radius: 9999px;
    left: 100%;
    margin-left: 6px;
    padding: 10px;
    position: absolute;
    top: 0;
    height: 25px;
    width: 25px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
}

.error {
    color: #a61a2e;
    font-size: 16px;
    margin-top: 6px;
}

h2 {
    margin: 0;
}

input {
    box-sizing: border-box;
    border: 1px solid silver;
    border-radius: 6px;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
}

label {
    display: inline-block;
    font-size: 12px;
    font-weight: 450;
    margin-top: 12px;
}

.modal {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    position: relative;
    width: 25%;
}

#signInButton {
    background-color: rgb(59, 59, 59);
    border: 1px solid rgb(59, 59, 59);
    border-radius: 24px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    min-height: 28px;
    margin-top: 12px;
    padding: 8px;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}