.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
.my-masonry-grid_column {
  padding: 0 18px;
  background-clip: padding-box;
}

@media not screen and (min-width: 768px) {
  .my-masonry-grid_column {
    padding: 0 2px;
  }
}
